NOCODB_TOKEN=qgM7rqQxsi8OXy8TFdPCgRgwMutL1uTlDff4hCjN
NOCODB_BASE_ID=pae9dl82usu5wvw
NOCODB_URL=http://localhost:8500/api/v3

# PostgreSQL (used by NocoDB in docker-compose.deploy.yml)
POSTGRES_DB=nocodb
POSTGRES_USER=nocodb
POSTGRES_PASSWORD=changeme
