{
  "openapi": "3.1.0",
  "info": {
    "title": "NocoDB v3",
    "version": "3.0",
    "description": "NocoDB API Documentation"
  },
  "servers": [
    { "url": "https://noco.services.dataforgood.fr" },
    {
      "url": "{customUrl}",
      "variables": {
        "customUrl": {
          "default": "https://noco.services.dataforgood.fr",
          "description": "Provide custom nocodb app base url"
        }
      }
    }
  ],
  "paths": {
    "/api/v3/data/pqc6cnm5mpnr9ka/mwrdhg9mg60fykj/records": {
      "get": {
        "summary": "Zone_OLD list",
        "operationId": "zone_old-db-table-row-list",
        "description": "List all rows from **Zone_OLD** table. Fields to be included in the response can be refined through query parameters. Additionally, filtering, sorting, and pagination can be applied to the results.",
        "tags": ["Zone_OLD"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "nestedPage",
            "description": "Controls pagination of nested (linked) records in the API response by specifying the page number. By default, the first page is returned; increment the page number to retrieve subsequent pages.\n\nExample: nestedPage=`2` will return the second page of nested data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "vw43dwdr3xswhbsv",
                "vwqj5ccgz7x02y3i",
                "vw27vufl67az4v5h",
                "vw74ss2146qnca71"
              ]
            },
            "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vw43dwdr3xswhbsv - Default view\n* vwqj5ccgz7x02y3i - Countries\n* vw27vufl67az4v5h - Distribution Zones\n* vw74ss2146qnca71 - Municipalities / Communes",
            "name": "viewId",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Zone_OLDResponse"
                      }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Zone_OLD create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "zone_old-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Zone_OLDResponse"
                      }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Zone_OLD"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/Zone_OLDRequest" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/Zone_OLDRequest" }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Zone_OLD update",
        "operationId": "zone_old-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Zone_OLDResponse"
                      }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Zone_OLD"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/Zone_OLDUpdateRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Zone_OLDUpdateRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Zone_OLD delete",
        "operationId": "zone_old-delete",
        "responses": { "200": { "description": "OK" } },
        "tags": ["Zone_OLD"],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/Zone_OLDIdRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Zone_OLDIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwrdhg9mg60fykj/records/{recordId}": {
      "parameters": [
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        },
        {
          "schema": { "type": "array", "items": { "type": "string" } },
          "in": "query",
          "name": "fields",
          "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
        }
      ],
      "get": {
        "summary": "Zone_OLD read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "zone_old-read",
        "tags": ["Zone_OLD"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Zone_OLDResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwrdhg9mg60fykj/count": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "vw43dwdr3xswhbsv",
              "vwqj5ccgz7x02y3i",
              "vw27vufl67az4v5h",
              "vw74ss2146qnca71"
            ]
          },
          "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vw43dwdr3xswhbsv - Default view\n* vwqj5ccgz7x02y3i - Countries\n* vw27vufl67az4v5h - Distribution Zones\n* vw74ss2146qnca71 - Municipalities / Communes",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Zone_OLD count",
        "operationId": "zone_old-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": ["Zone_OLD"],
        "parameters": [
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "count": { "type": "number" } }
                },
                "examples": { "Example 1": { "value": { "count": 3 } } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwrdhg9mg60fykj/links/{linkFieldId}/{recordId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "crwp3tr5aigm8qj",
              "ce19bme4uy6d5h9",
              "cvy23o27xc6bz9n",
              "co92u1gp84qx6qn"
            ]
          },
          "name": "linkFieldId",
          "in": "path",
          "required": true,
          "description": "**Links Field Identifier** corresponding to the relation field **Links** or **LinkToAnotherRecord** established between tables.\n\nLink Columns:\n* crwp3tr5aigm8qj - Area\n* ce19bme4uy6d5h9 - Contains Areas\n* cvy23o27xc6bz9n - Analysis\n* co92u1gp84qx6qn - Interactions"
        },
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        }
      ],
      "get": {
        "summary": "Link Records list",
        "operationId": "zone_old-nested-list",
        "description": "This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.",
        "tags": ["Zone_OLD"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Zone_OLDResponse"
                      }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "summary": "Link Records",
        "operationId": "zone_old-nested-link",
        "responses": {
          "200": {
            "description": "Records successfully linked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the linking operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Zone_OLD"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be linked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Link a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Link multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      },
      "delete": {
        "summary": "Unlink Records",
        "operationId": "zone_old-nested-unlink",
        "responses": {
          "200": {
            "description": "Records successfully unlinked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the unlink operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Zone_OLD"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be unlinked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Unlink a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Unlink multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwvly9vcygc0j34/records": {
      "get": {
        "summary": "Actor list",
        "operationId": "actor-db-table-row-list",
        "description": "List all rows from **Actor** table. Fields to be included in the response can be refined through query parameters. Additionally, filtering, sorting, and pagination can be applied to the results.",
        "tags": ["Actor"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "nestedPage",
            "description": "Controls pagination of nested (linked) records in the API response by specifying the page number. By default, the first page is returned; increment the page number to retrieve subsequent pages.\n\nExample: nestedPage=`2` will return the second page of nested data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          },
          {
            "schema": { "type": "string", "enum": ["vw3iewh0mpimkk1f"] },
            "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vw3iewh0mpimkk1f - Default view",
            "name": "viewId",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ActorResponse" }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Actor create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "actor-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ActorResponse" }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Actor"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/ActorRequest" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/ActorRequest" }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Actor update",
        "operationId": "actor-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ActorResponse" }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Actor"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/ActorUpdateRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ActorUpdateRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Actor delete",
        "operationId": "actor-delete",
        "responses": { "200": { "description": "OK" } },
        "tags": ["Actor"],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/ActorIdRequest" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/ActorIdRequest" }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwvly9vcygc0j34/records/{recordId}": {
      "parameters": [
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        },
        {
          "schema": { "type": "array", "items": { "type": "string" } },
          "in": "query",
          "name": "fields",
          "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
        }
      ],
      "get": {
        "summary": "Actor read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "actor-read",
        "tags": ["Actor"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActorResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwvly9vcygc0j34/count": {
      "parameters": [
        {
          "schema": { "type": "string", "enum": ["vw3iewh0mpimkk1f"] },
          "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vw3iewh0mpimkk1f - Default view",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Actor count",
        "operationId": "actor-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": ["Actor"],
        "parameters": [
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "count": { "type": "number" } }
                },
                "examples": { "Example 1": { "value": { "count": 3 } } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mwvly9vcygc0j34/links/{linkFieldId}/{recordId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "c9hswu4xal8fqdv",
              "c33y0i580vry0b2",
              "cyauwdp4zhgjzgw",
              "c07ta1ff4n2d7fv"
            ]
          },
          "name": "linkFieldId",
          "in": "path",
          "required": true,
          "description": "**Links Field Identifier** corresponding to the relation field **Links** or **LinkToAnotherRecord** established between tables.\n\nLink Columns:\n* c9hswu4xal8fqdv - Interactions\n* c33y0i580vry0b2 - Contacts\n* cyauwdp4zhgjzgw - Country\n* c07ta1ff4n2d7fv - Distribution Zones"
        },
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        }
      ],
      "get": {
        "summary": "Link Records list",
        "operationId": "actor-nested-list",
        "description": "This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.",
        "tags": ["Actor"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ActorResponse" }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "summary": "Link Records",
        "operationId": "actor-nested-link",
        "responses": {
          "200": {
            "description": "Records successfully linked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the linking operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Actor"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be linked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Link a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Link multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      },
      "delete": {
        "summary": "Unlink Records",
        "operationId": "actor-nested-unlink",
        "responses": {
          "200": {
            "description": "Records successfully unlinked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the unlink operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Actor"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be unlinked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Unlink a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Unlink multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/ml2hj8p7mco22zu/records": {
      "get": {
        "summary": "Interaction list",
        "operationId": "interaction-db-table-row-list",
        "description": "List all rows from **Interaction** table. Fields to be included in the response can be refined through query parameters. Additionally, filtering, sorting, and pagination can be applied to the results.",
        "tags": ["Interaction"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "nestedPage",
            "description": "Controls pagination of nested (linked) records in the API response by specifying the page number. By default, the first page is returned; increment the page number to retrieve subsequent pages.\n\nExample: nestedPage=`2` will return the second page of nested data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          },
          {
            "schema": { "type": "string", "enum": ["vwaaoke3oeby9knc"] },
            "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vwaaoke3oeby9knc - Default view",
            "name": "viewId",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InteractionResponse"
                      }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Interaction create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "interaction-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InteractionResponse"
                      }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Interaction"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/InteractionRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InteractionRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Interaction update",
        "operationId": "interaction-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InteractionResponse"
                      }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Interaction"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/InteractionUpdateRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InteractionUpdateRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Interaction delete",
        "operationId": "interaction-delete",
        "responses": { "200": { "description": "OK" } },
        "tags": ["Interaction"],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/InteractionIdRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InteractionIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/ml2hj8p7mco22zu/records/{recordId}": {
      "parameters": [
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        },
        {
          "schema": { "type": "array", "items": { "type": "string" } },
          "in": "query",
          "name": "fields",
          "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
        }
      ],
      "get": {
        "summary": "Interaction read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "interaction-read",
        "tags": ["Interaction"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/InteractionResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/ml2hj8p7mco22zu/count": {
      "parameters": [
        {
          "schema": { "type": "string", "enum": ["vwaaoke3oeby9knc"] },
          "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vwaaoke3oeby9knc - Default view",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Interaction count",
        "operationId": "interaction-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": ["Interaction"],
        "parameters": [
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "count": { "type": "number" } }
                },
                "examples": { "Example 1": { "value": { "count": 3 } } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/ml2hj8p7mco22zu/links/{linkFieldId}/{recordId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": [
              "cciu7rawwhhiw0w",
              "c3myqu8izdqy4hm",
              "c9v7d0th7wlbuot",
              "cen4auiduszs81f"
            ]
          },
          "name": "linkFieldId",
          "in": "path",
          "required": true,
          "description": "**Links Field Identifier** corresponding to the relation field **Links** or **LinkToAnotherRecord** established between tables.\n\nLink Columns:\n* cciu7rawwhhiw0w - Attachments\n* c3myqu8izdqy4hm - Actor\n* c9v7d0th7wlbuot - Zone\n* cen4auiduszs81f - Distribution Zone"
        },
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        }
      ],
      "get": {
        "summary": "Link Records list",
        "operationId": "interaction-nested-list",
        "description": "This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.",
        "tags": ["Interaction"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InteractionResponse"
                      }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "summary": "Link Records",
        "operationId": "interaction-nested-link",
        "responses": {
          "200": {
            "description": "Records successfully linked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the linking operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Interaction"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be linked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Link a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Link multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      },
      "delete": {
        "summary": "Unlink Records",
        "operationId": "interaction-nested-unlink",
        "responses": {
          "200": {
            "description": "Records successfully unlinked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the unlink operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Interaction"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be unlinked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Unlink a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Unlink multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/m48k3x5avp7wia3/records": {
      "get": {
        "summary": "Analysis list",
        "operationId": "analysis-db-table-row-list",
        "description": "List all rows from **Analysis** table. Fields to be included in the response can be refined through query parameters. Additionally, filtering, sorting, and pagination can be applied to the results.",
        "tags": ["Analysis"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "nestedPage",
            "description": "Controls pagination of nested (linked) records in the API response by specifying the page number. By default, the first page is returned; increment the page number to retrieve subsequent pages.\n\nExample: nestedPage=`2` will return the second page of nested data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          },
          {
            "schema": { "type": "string", "enum": ["vwh0xc5evlle6nco"] },
            "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vwh0xc5evlle6nco - Default view",
            "name": "viewId",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalysisResponse"
                      }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Analysis create",
        "description": "Insert a new row in table by providing a key value pair object where key refers to the column alias. All the required fields should be included with payload excluding `autoincrement` and column with default value.",
        "operationId": "analysis-create",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalysisResponse"
                      }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Analysis"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/AnalysisRequest" },
                  {
                    "type": "array",
                    "items": { "$ref": "#/components/schemas/AnalysisRequest" }
                  }
                ]
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Analysis update",
        "operationId": "analysis-update",
        "description": "Partial update row in table by providing a key value pair object where key refers to the column alias. You need to only include columns which you want to update.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalysisResponse"
                      }
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Analysis"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/AnalysisUpdateRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AnalysisUpdateRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Analysis delete",
        "operationId": "analysis-delete",
        "responses": { "200": { "description": "OK" } },
        "tags": ["Analysis"],
        "description": "Delete a row by using the **primary key** column value.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/components/schemas/AnalysisIdRequest" },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AnalysisIdRequest"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/m48k3x5avp7wia3/records/{recordId}": {
      "parameters": [
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        },
        {
          "schema": { "type": "array", "items": { "type": "string" } },
          "in": "query",
          "name": "fields",
          "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
        }
      ],
      "get": {
        "summary": "Analysis read",
        "description": "Read a row data by using the **primary key** column value.",
        "operationId": "analysis-read",
        "tags": ["Analysis"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalysisResponse" }
              }
            }
          }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/m48k3x5avp7wia3/count": {
      "parameters": [
        {
          "schema": { "type": "string", "enum": ["vwh0xc5evlle6nco"] },
          "description": "Fetches records that are visible within a specific view. If the view has sorting enabled, the API returns records in the same order as displayed in the view. Specifying a **sort** query parameter overrides the view’s sorting configuration. Similarly, a **where** query parameter applies additional filtering on top of the view’s filters. By default, all fields—including those disabled in the view—are included in the response. Use the **fields** query parameter to include or exclude specific fields and customize the output.\n\n**Views:**\n* vwh0xc5evlle6nco - Default view",
          "name": "viewId",
          "in": "query",
          "required": false
        }
      ],
      "get": {
        "summary": "Analysis count",
        "operationId": "analysis-count",
        "description": "Get rows count of a table by applying optional filters.",
        "tags": ["Analysis"],
        "parameters": [
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "count": { "type": "number" } }
                },
                "examples": { "Example 1": { "value": { "count": 3 } } }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/m48k3x5avp7wia3/links/{linkFieldId}/{recordId}": {
      "parameters": [
        {
          "schema": {
            "type": "string",
            "enum": ["cz3mphin1xmgz54", "cwv5ca0xg9nf6vt", "ciron2mxho8oxcs"]
          },
          "name": "linkFieldId",
          "in": "path",
          "required": true,
          "description": "**Links Field Identifier** corresponding to the relation field **Links** or **LinkToAnotherRecord** established between tables.\n\nLink Columns:\n* cz3mphin1xmgz54 - Zone\n* cwv5ca0xg9nf6vt - DistributionZone\n* ciron2mxho8oxcs - Municipality"
        },
        {
          "schema": { "type": "string" },
          "name": "recordId",
          "in": "path",
          "required": true,
          "example": 1,
          "description": "Primary key of the record you want to read."
        }
      ],
      "get": {
        "summary": "Link Records list",
        "operationId": "analysis-nested-list",
        "description": "This API endpoint allows you to retrieve list of linked records for a specific `Link field` and `Record ID`. The response is an array of objects containing Primary Key and its corresponding display value.",
        "tags": ["Analysis"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
            "description": "Allows you to specify the fields by which you want to sort the records in your API response. Each sort object must have a 'field' property specifying the field name and a 'direction' property with value 'asc' or 'desc'. If **viewId** query parameter is also included, the sort included here will take precedence over any sorting configuration defined in the view. \n\nExample: sort=`{\"direction\":\"asc\", \"field\":\"field1\"}` will sort records in ascending order based on field1."
          },
          {
            "schema": { "type": "string" },
            "in": "query",
            "name": "where",
            "description": "Enables defining conditions to filter records in the API response. Multiple conditions can be combined using the logical operators 'and' or 'or'. Each condition consists of three components: a field name, a comparison operator, and a value.\n\nExample: where=`(field1,eq,value1)~and(field2,eq,value2)` will filter records where field1 equals value1 AND field2 equals value2.\n\nIf **viewId** parameter is also included, these filters are applied on top of the view’s predefined filter configuration. \n\n**NOTE**: Maintain the specified format; do not include spaces between components of a condition. For further information on this please see [the documentation](https://nocodb.com/docs/product-docs/developer-resources/rest-apis#v3-where-query-parameter)"
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "page",
            "description": "Controls pagination of the API response by specifying the page number to retrieve. By default, the first page is returned. Increment the page number to retrieve subsequent pages.\n\nExample: page=`2` will return the second page of data records in the dataset."
          },
          {
            "schema": { "type": "integer", "minimum": 1 },
            "in": "query",
            "name": "pageSize",
            "description": "Sets a limit on the number of records returned in the API response. By default, all available records are returned, but this parameter allows you to control the quantity.\n\nExample: pageSize=`100` will limit the response to 100 records per page."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "records": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnalysisResponse"
                      }
                    },
                    "next": {
                      "type": ["string", "null"],
                      "description": "Pagination token for next page"
                    },
                    "prev": {
                      "type": ["string", "null"],
                      "description": "Pagination token for previous page"
                    },
                    "nestedNext": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for next page"
                    },
                    "nestedPrev": {
                      "type": ["string", "null"],
                      "description": "Nested pagination token for previous page"
                    }
                  },
                  "required": ["records"]
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        }
      },
      "post": {
        "summary": "Link Records",
        "operationId": "analysis-nested-link",
        "responses": {
          "200": {
            "description": "Records successfully linked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the linking operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Analysis"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be linked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Link a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Link multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to link records to a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for linking purposes. Note that any existing links, if present, will be unaffected during this operation.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      },
      "delete": {
        "summary": "Unlink Records",
        "operationId": "analysis-nested-unlink",
        "responses": {
          "200": {
            "description": "Records successfully unlinked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the unlink operation was successful"
                    }
                  },
                  "required": ["success"]
                },
                "examples": {
                  "Success Response": { "value": { "success": true } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" }
        },
        "tags": ["Analysis"],
        "requestBody": {
          "required": true,
          "description": "Record objects to be unlinked, each containing an id field",
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier for the record"
                      }
                    },
                    "required": ["id"]
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the record"
                        }
                      },
                      "required": ["id"]
                    }
                  }
                ]
              },
              "examples": {
                "Single Record": {
                  "summary": "Unlink a single record",
                  "value": { "id": "22" }
                },
                "Multiple Records": {
                  "summary": "Unlink multiple records",
                  "value": [{ "id": "43" }, { "id": "44" }]
                }
              }
            }
          }
        },
        "description": "This API endpoint allows you to unlink records from a specific `Link field` and `Record ID`. The request payload is an array of record-ids from the adjacent table for unlinking purposes. Note that, \n- duplicated record-ids will be ignored.\n- non-existent record-ids will be ignored.",
        "parameters": [
          {
            "schema": { "type": "string" },
            "name": "recordId",
            "in": "path",
            "required": true,
            "example": 1,
            "description": "Primary key of the record you want to read."
          }
        ]
      }
    },
    "/api/v3/data/pqc6cnm5mpnr9ka/mfc1dbbmc7jsqu0/records": {
      "get": {
        "summary": "Attachment list",
        "operationId": "attachment-db-table-row-list",
        "description": "List all rows from **Attachment** table. Fields to be included in the response can be refined through query parameters. Additionally, filtering, sorting, and pagination can be applied to the results.",
        "tags": ["Attachment"],
        "parameters": [
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "fields",
            "description": "Specify fields to include in the API response. \n\nExample: fields=`field1` will include only field1 in the response."
          },
          {
            "schema": { "type": "array", "items": { "type": "string" } },
            "in": "query",
            "name": "sort",
[...]
